@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Poppins',sans-serif;
}
i.fa-solid.fa-user {
  color: #EF4A23;
  font-size: 22px;
}
#account-text {
  color: white;
  line-height: .5;
  font-size: 17px;
}
#register {
  color: rgba(255, 255, 255, 0.5);
  line-height: .8;
}
#search-h1 {
  font-size: 30px;
}
#search-btn{
  cursor: pointer;
  transition: .5s;
}
#search-btn:hover{
  background: #EF4A23;
}
#image-size{
  width: 250px;
}
#brand-name{
  color: #EF4A23;
}
table {
  border-collapse: collapse;
  width: 60%;
}

th,td {
  text-align: left;
  padding: 5px;
}
#tab td {
  border: 2px solid #e8e8eb;
}

tr:nth-child(even) {
  background-color: #F7F7F7;
}
#price-chat {
  width: 270px;
  justify-content: center;
}